/data
/cats
/JCG
/OPALInterface
/DOOP/souffle
/DOOP/doop-4.24.14/out
/DOOP/doop-4.24.14/results
/SOOT
/WALA/WALA-1.5.5


/WALA
/DOOP
/cgpruner
/ml4cgp_study
/PLELog
/agents

scripts/venv
/scripts/approach/*.pkl

**/*.pyc
__pycache__/
**/*.pth
