SUBSAMPLE_FILE=wala_1cfaSubsampled.csv
FULL_FILE=wala_1cfa.csv
SA_TRANS_HEADER=wala-cge-1cfa-noreflect-intf-trans
SA_DIRECT_HEADER=wala-cge-1cfa-noreflect-intf-direct
FANOUT_CONSTANT=3.5
DEST_NODE_IN_DEG_CONSTANT=9.5
PER_PROG_THRESHOLD=0.5
OUTPUT_CALLGRAPHS=False
CG_PRUNER_CALLGRAPHS=x
HEURISTIC_CALLGRAPHS=x
