SUBSAMPLE_FILE=subsampledCombination.csv
FULL_FILE=wala0cfa.csv
SA_TRANS_HEADER=wala-cge-0cfa-noreflect-intf-trans
SA_DIRECT_HEADER=wala-cge-0cfa-noreflect-intf-direct
FANOUT_CONSTANT=3.5
DEST_NODE_IN_DEG_CONSTANT=9.5
PER_PROG_THRESHOLD=0.45
OUTPUT_CALLGRAPHS=True
CG_PRUNER_CALLGRAPHS=walaCgPrunerCallgraphs
HEURISTIC_CALLGRAPHS=walaHeuristicCallgraphs
